{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@components",
            "./src/components"
          ],
          [
            "@api",
            "./src/api"
          ]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
