.alert {
  margin: 0 !important;
}

.Toastify {
  &__close-button {
    position: absolute;
    right: 5px;
  }
  &__toast {
    padding: 0;
    min-height: 0;
    &-body {
      margin: 0;
    }
  }
}
